table {
    border-collapse: collapse;
}

input.borde {
    border: 1px;
}

input.borde_text {
    border: 0px;
    text-align: left;
}


input.borde_num {
    border: 0px;
    text-align: right;
}


th.color {
    background-color: #6E6E6E;
}

th.borde_head {
    border: 1px solid black;
    text-align: center;
    font-style: normal;
    background-color: #6E6E6E;
}

table.borde_detalle {
    padding-top:1000px;
    border: 0px solid black;
    font-style: normal;
}

td.borde_text {
    border: 0px solid black;
    text-align: left;
}

td.borde_num {
    border: 0px solid black;
    text-align: left;
}
table.borde_detalle.odd {
    background-color:#A0AEB1;  /* #F0F0F6;*/
}

table.borde_detalle.even {
    background-color:#E6EEEE;
}

th.enlace {
    border: 0px ;
    text-align: center;
    cursor: pointer;
}


td.enlace {
    border: 0px;
    text-align: center;
    cursor: pointer;
    background: #FFF;
}

table.campo {

    border-collapse:separate;
    empty-cells: show;

    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
td.campo {
    background: #CCC;
    border-color: #FFF;
    border-collapse:separate;

}
td.dato {

    border-color: #FFF;
    border-collapse:separate;
    border: 0;
}

input.input_head {
    text-align: center;
    font-weight: normal;
    background: #CCC;
    border: 0px;
}

table.borde_detalle:hover{
    background: #CCC
}
table.borde_detalle{
    background: #CCC
}
table.borde_detalle:ntr-child(even) {
    background: #CCC
}
table.borde_detalle:ntr-child(odd) {
    background: #FFF
}

table.acordeon {
    background-color: #EDF3FF;
}

table.acordeon:hover {
    background-color: #e6EEEE;
}


